In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score

In [15]:
df=pd.read_csv('d1.csv')
df=df.drop(['Unnamed: 0'], axis=1)

In [16]:
X = df.drop('type',axis=1)
y = df['type']

In [17]:
X.head()

,id,bone_length,rotting_flesh,hair_length,has_soul,color--black,color--blood,color--blue,color--clear,color--green,color--white
0,0,0.354512,0.350839,0.465761,0.781142,0,0,0,1,0,0
1,1,0.575560,0.425868,0.531401,0.439899,0,0,0,0,1,0
2,2,0.467875,0.354330,0.811616,0.791225,1,0,0,0,0,0
3,4,0.776652,0.508723,0.636766,0.884464,1,0,0,0,0,0
4,5,0.566117,0.875862,0.418594,0.636438,0,0,0,0,1,0

In [18]:
df=df.isnull().values.any()

# Random Forest

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, criterion='entropy', max_depth=30,min_samples_split=3, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None,bootstrap=True, oob_score=False, n_jobs=1, random_state=None, verbose=0, warm_start=False,class_weight=None)
rf.fit(X, y)
'''y_pred = rf.predict(X_test)
from sklearn.model_selection import cross_val_predict, cross_val_score
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
def print_score(classifier,X_train,y_train,X_test,y_test,train=True):
        print("Test results:\n")
        print('Accuracy Score: {0:.4f}\n'.format(accuracy_score(y_test,classifier.predict(X_test))))
        print('Classification Report:\n{}\n'.format(classification_report(y_test,classifier.predict(X_test))))
        print('Confusion Matrix:\n{}\n'.format(confusion_matrix(y_test,classifier.predict(X_test))))

print_score(rf,X_train,y_train,X_test,y_test,train=False)'''

'y_pred = rf.predict(X_test)\nfrom sklearn.model_selection import cross_val_predict, cross_val_score\nfrom sklearn.metrics import confusion_matrix,classification_report,accuracy_score\ndef print_score(classifier,X_train,y_train,X_test,y_test,train=True):\n        print("Test results:\n")\n        print(\'Accuracy Score: {0:.4f}\n\'.format(accuracy_score(y_test,classifier.predict(X_test))))\n        print(\'Classification Report:\n{}\n\'.format(classification_report(y_test,classifier.predict(X_test))))\n        print(\'Confusion Matrix:\n{}\n\'.format(confusion_matrix(y_test,classifier.predict(X_test))))\n\nprint_score(rf,X_train,y_train,X_test,y_test,train=False)'

In [20]:
import pickle
filename = 'rf_model.sav'
pickle.dump(rf, open(filename, 'wb'))

# XGBoost

In [21]:
import xgboost
from numpy import loadtxt
from xgboost import XGBClassifier
model = XGBClassifier(max_depth=7,min_child_weight=3,learning_rate=0.1,n_estimators=300,silent=True,objective="multi:softprob",gamma=0,max_delta_step=0,subsample=1,colsample_bytree=1,colsample_bylevel=1,reg_alpha=0,reg_lambda=0,scale_pos_weight=1,seed=0,num_class=3,missing=None)
model.fit(X, y)
# y_pred = model.predict(X_test)
# predictions = [round(value) for value in y_pred]
# print("Test results:\n")
# accuracy = accuracy_score(y_test, predictions)
# print("Accuracy: %.2f%%\n" % (accuracy * 100.0))
# print('Classification Report:\n')
# print(classification_report(y_test,y_pred))
# from sklearn.metrics import confusion_matrix
# cm = confusion_matrix(y_test,y_pred)
# print("Confusion Matrix:")
# print(cm)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=7, min_child_weight=3, missing=None, n_estimators=300,
       n_jobs=1, nthread=None, num_class=3, objective='multi:softprob',
       random_state=0, reg_alpha=0, reg_lambda=0, scale_pos_weight=1,
       seed=0, silent=True, subsample=1)

In [22]:
import pickle
filename = 'xgboost_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [23]:
original_feature_dict = {}
for feature, importance in zip(list(X), rf.feature_importances_):
    if '--' in feature:
        original_feature_name = feature.split('--')[0]
    else:
        original_feature_name = feature

    if original_feature_name in original_feature_dict:
        original_feature_dict[original_feature_name] += importance
    else:
        original_feature_dict[original_feature_name] = importance

sorted_importance = sorted(original_feature_dict.items(), key=lambda x: x[1], reverse=True)

for feature, importance in sorted_importance:
    print(feature, importance)

hair_length 0.2740202204525691
has_soul 0.24778076679850758
bone_length 0.17088851401287206
rotting_flesh 0.15484536525972364
id 0.09936672351782176
color 0.053098409958505885

In [24]:
df1=pd.read_csv('test.csv')

In [25]:
df2= pd.get_dummies(df1,prefix_sep='--') #One Hot Encoding

In [26]:
y_pred = rf.predict(df2)

In [27]:
y_pred

array([3, 2, 3, 1, 1, 1, 3, 2, 2, 3, 1, 3, 2, 1, 3, 1, 2, 1, 1, 3, 3, 3,
       3, 2, 3, 2, 3, 2, 3, 3, 2, 3, 3, 2, 2, 3, 1, 2, 1, 3, 2, 3, 2, 3,
       2, 3, 3, 3, 3, 2, 2, 2, 1, 2, 2, 1, 2, 3, 3, 1, 3, 3, 1, 2, 3, 2,
       3, 3, 1, 3, 2, 1, 2, 3, 2, 3, 2, 2, 1, 2, 1, 2, 3, 3, 1, 1, 1, 2,
       1, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 3, 2, 2, 1, 3, 2, 3, 2, 3, 3,
       1, 2, 1, 3, 3, 1, 1, 2, 3, 1, 3, 2, 1, 3, 3, 1, 1, 1, 3, 3, 1, 2,
       2, 3, 2, 2, 3, 2, 2, 2, 3, 1, 1, 3, 3, 1, 3, 1, 1, 1, 2, 3, 3, 2,
       2, 1, 3, 3, 1, 3, 3, 2, 3, 2, 1, 1, 2, 1, 2, 1, 1, 3, 1, 2, 3, 3,
       2, 3, 3, 3, 1, 1, 3, 1, 1, 2, 2, 2, 3, 1, 1, 3, 2, 1, 3, 2, 2, 2,
       3, 3, 1, 1, 1, 1, 2, 1, 2, 2, 2, 3, 2, 1, 1, 1, 2, 2, 3, 1, 3, 2,
       2, 2, 2, 3, 3, 2, 1, 1, 2, 1, 1, 3, 1, 1, 1, 3, 1, 3, 2, 2, 1, 1,
       1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 3, 3, 2, 1, 3, 2, 1, 1, 2, 1, 2,
       2, 2, 3, 3, 2, 1, 3, 2, 1, 2, 3, 3, 2, 3, 2, 1, 1, 2, 3, 3, 3, 3,
       1, 2, 1, 1, 3, 1, 3, 2, 2, 2, 1, 2, 1, 2, 2, 3, 1, 1, 3, 2, 2, 2,
       1, 2, 3, 3, 2, 1, 1, 3, 2, 1, 1, 3, 1, 2, 3, 3, 1, 2, 1, 2, 1, 3,
       3, 2, 2, 1, 1, 3, 1, 3, 3, 3, 3, 3, 2, 2, 1, 2, 1, 2, 1, 3, 3, 1,
       3, 1, 2, 3, 2, 1, 1, 3, 2, 1, 2, 1, 1, 3, 3, 2, 2, 3, 1, 1, 3, 1,
       2, 1, 3, 1, 2, 3, 3, 1, 1, 2, 2, 1, 1, 1, 2, 1, 2, 3, 1, 1, 2, 3,
       3, 2, 1, 3, 2, 3, 2, 3, 1, 3, 3, 1, 2, 1, 1, 1, 3, 1, 3, 1, 2, 3,
       3, 1, 1, 3, 3, 3, 1, 1, 3, 1, 3, 1, 2, 3, 3, 2, 2, 3, 2, 1, 3, 1,
       3, 3, 1, 1, 1, 3, 1, 2, 2, 3, 3, 3, 2, 3, 2, 1, 2, 1, 3, 3, 1, 1,
       3, 3, 2, 3, 1, 3, 3, 1, 3, 3, 2, 3, 1, 1, 2, 1, 1, 2, 2, 3, 1, 3,
       1, 2, 1, 1, 1, 3, 1, 3, 3, 1, 3, 1, 3, 3, 1, 1, 2, 1, 1, 2, 3, 1,
       3, 1, 3, 2, 3, 3, 1, 1, 3, 3, 3, 2, 2, 1, 3, 2, 3, 3, 2, 1, 3, 1,
       1], dtype=int64)

In [32]:
testdf=pd.read_csv('test.csv')

In [33]:
testdf=testdf.drop('bone_length',axis=1)
testdf=testdf.drop('rotting_flesh',axis=1)
testdf=testdf.drop('hair_length',axis=1)
testdf=testdf.drop('has_soul',axis=1)
testdf=testdf.drop('color',axis=1)

In [35]:
testdf.head()

   id
0   3
1   6
2   9
3  10
4  13

In [36]:
testdf.to_csv('id.csv')

In [39]:
outdf= pd.DataFrame(y_pred.reshape(-1, len(y_pred)))

In [41]:
outdf=outdf.transpose()

In [45]:
outdf[0] = outdf[0].map({1:'Ghost', 2:'Goblin',3:'Ghoul'})

In [47]:
outdf.head()

        0
0   Ghoul
1  Goblin
2   Ghoul
3   Ghost
4   Ghost

In [49]:
outdf.to_csv('type.csv')

In [50]:
a = pd.read_csv("id.csv")
b = pd.read_csv("type.csv")
b = b.dropna(axis=1)
merged = a.merge(b)

In [52]:
merged=merged.drop(['Unnamed: 0'], axis=1)

In [54]:
merged.head()

   id       0
0   3   Ghoul
1   6  Goblin
2   9   Ghoul
3  10   Ghost
4  13   Ghost

In [58]:
merged.to_csv("submission.csv")
merged.head()

   id       0
0   3   Ghoul
1   6  Goblin
2   9   Ghoul
3  10   Ghost
4  13   Ghost